
* {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}


body {
    margin: 0;
    overflow: hidden;
    background-color: #f5f5f5; 
}

.firebase-link {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff; 
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.background-icons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none; 
    background-image: repeating-linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0) 100px, 
        rgba(187, 187, 187, 0.05) 100px, 
        rgba(187, 187, 187, 0.05) 200px
    ),
    repeating-linear-gradient(
        90deg, 
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0) 100px, 
        rgba(187, 187, 187, 0.05) 100px, 
        rgba(187, 187, 187, 0.05) 200px
    );
    background-size: 150px 150px;
}





/* Estilos do botão de adicionar tarefa */
.modal-btn {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff4fa; /* Azul marinho */
    color: #173352;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 200px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-btn:hover {
    background-color: #cfdff1; 
    transform: translateY(20px); 
  }
  
  .center-button {
    position: fixed; 
    top: 5%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 99;
  }
  

body {
    font-family: Arial, sans-serif;
    align-items: center;
    margin-top: 50px;
    background-color: #0a1726;
    line-height: 1;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}


form {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    border-radius: 10px;
}

form input {
    padding: 8px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
}

#task-due-date {
    font-family: Arial;
    font-size: 0.9rem;
    max-width: 250px;
    color: gray;
}

#task-due-date:focus {
    border-color: #3498db;
    outline: none;
}

#task-list {
    margin-top: 20px;
    overflow-y: auto; 
    flex-grow: 1; 
    height: calc(100% - 40px); 
    scrollbar-gutter: stable; 
    padding-left: 16px;
}

.task-actions-group {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    align-items: center; 
  }

.task-item {
    min-width: 450px;
    background-color: #dce8f4;
    margin: 15px 150px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 20px; 
}

.task-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


.task-id {
    font-weight: bold;
  }

.task-info p {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #333;
    align-items: center;  
    gap: 2px;  
}

.material-icons {
    vertical-align: middle; 
  }





  .task-name-line {
    font-weight: bold;      
    color: #387bc4 !important;             
    margin-bottom: 10px;     
  }
  
  .task-name-line .material-icons {
    vertical-align: middle;  
    font-size: 30px;
  }
  
.task-info-row .material-icons{
    font-size: 30px;
}

.task-info-row span .material-icons{
    font-size: 50px;
}



.task-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-info-row p {
    margin: 0;
    padding: 5px;
    padding-left: 0;
    font-size: 1rem;
}

.task-item.highlight {
    border: 3px solid rgb(255, 0, 0);
    box-shadow: 0 4px 10px rgba(243, 156, 18, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(255, 211, 211);
}

.task-item.highlight:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


.task-actions {
    display: flex;
    gap: 10px; 
    align-items: center; 
}

.task-actions button {
    position: relative; 
  }
  
  .task-actions .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
    padding: 5px 10px;
    font-size: 0.7rem;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    white-space: nowrap;
  }
  
  .task-actions button:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  
button.edit {
    background-color: #3498db;
    color: white;
}

button.edit:hover {
    background-color: #2980b9;
}

button.delete {
    background-color: #e74c3c;
    color: white;
}

button.delete:hover {
    background-color: #c0392b;
}


.task-actions-arrows {
    display: flex;  
    flex-direction: column; 
    justify-content: center;  
    align-items: center;  
    gap: 10px;  
    height: 100%;  
}


.task-actions-arrows .reorder {
    color: #ffffff;
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border-radius: 50%;        
    border: none;              
    background-color: #2a5d97; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;         
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.task-actions-arrows .reorder:hover {
    background-color: #387bc4; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.task-actions-arrows .reorder:active {
    background-color: #e0e0e0; /* Cor de fundo ao clicar */
}

.task-actions-arrows .reorder .material-icons {
    font-size: 25px;           
}
  
button {
    border-radius: 50%;       
    padding: 15px; 
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    max-width: 120px;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button.edit {
    background-color: #3498db;
    color: white;
}

button.edit:hover {
    background-color: #2980b9;
}

button.delete {
    background-color: #e74c3c;
    color: white;
}

button.delete:hover {
    background-color: #c0392b;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px; 
}


#confirm-delete {
    background-color: #d9534f;
    color: white;
}

#cancel-delete {
    background-color: #5bc0de;
    color: white;
}


.task-item[draggable="true"]:active {
    opacity: 0.6;
}

.task-item.drag-over {
    border: 2px dashed #007bff;
    background-color: #f1f8ff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}


.add-task-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5); 
    width: 100%;
    max-width: 500px; 
    align-items: center;
    margin-bottom: 15px;
    margin: 0 auto; 
}

.form-row {
    display: flex;
    justify-content:space-evenly; 
    margin: 5px;
    width: 100%;
}

.add-task-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fafafa; 
    width: 40%; 
}

.add-task-form button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    max-width: 250px;
}

.add-task-form button:hover {
    background-color: #2980b9;
}

h3{
    color: #173352;
}

button.edit .material-icons,
button.delete .material-icons {
    font-size: 25px; 
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}


#task-list-container {
    background-color: #173352; 
    color: #FFFFFF; 
    border-top-right-radius: 8px; 
    border-top-left-radius: 8px;
    padding-top: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    max-width: 65%; 
    width: 80%; 
    min-width: 900px;
    height: 80vh; 
    display: flex;
    flex-direction: column;

    position: fixed; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    overflow-y: auto; 
    overflow-x: hidden; 
    flex-shrink: 0; 
    z-index: 1; 
}



#task-title {
    position: sticky;
    top: 0; 
    background-color: #173352; 
    z-index: 10; 
    padding-top: 20px; 
}


.button-container {
    display: flex !important;
    justify-content: space-between !important; 
    width: 100% !important;
    margin-top: 20px !important; 
}


#confirm-delete, #edit-task-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 12px 24px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    background-color: #28a745 !important; 
    color: white !important;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
    margin-right: 10px !important; 
}


#confirm-delete, #edit-task-button:hover {
    background-color: #218838 !important; 
    transform: translateY(-2px) !important; 
}


#cancel-delete, #cancel-edit{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 12px 24px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    background-color: #dc3545 !important; 
    color: white !important;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
    margin-left: 10px !important; 
}


#cancel-delete, #cancel-edit:hover {
    background-color: #c82333 !important; 
    transform: translateY(-2px) !important; 
}


#confirm-delete .material-icons, #cancel-delete .material-icons {
    margin-right: 8px !important;
    font-size: 20px !important;
}

#edit-modal {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.input-group {
    margin-bottom: 15px !important;
    display: flex !important;
    justify-content: center;
    gap: 8px; 
    align-items: center;
    width: auto;
  }

.input-group .material-icons {
    color:#888; 
}

#tsk1 {
    display: block;    
    font-size: 12px;         
    font-weight: bold;        
    color: #173352;             
    margin-bottom: 8px;          
    margin-top: 10px;           
  }

  .input-group label {
    display: block !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
    font-weight: bold !important;
  }
  
  /* Estilo para inputs com ícones */
  .input-with-icon {
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
  }
  
  .input-with-icon input {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
  }
  
  .input-with-icon .material-icons {
    font-size: 20px !important;
    color: #888 !important;
  }
  

  .input-group-parallel {
    display: flex !important;
    justify-content: space-between !important;
    gap: 10px !important;
  }
  
  .input-group-parallel .input-with-icon {
    flex: 1 !important;
  }
  

  .button-group {
    display: flex !important;
    justify-content: space-between !important;
    gap: 20px !important; 
    margin-top: 20px !important;
  }
  

  button#edit-task-button {
    background-color: #28a745  !important;
    color: white !important;
  }
  
  button#cancel-edit {
    background-color: #dc3545 !important;
    color: rgb(255, 255, 255) !important;
  }
  
 
  input:focus {
    border-color: #007bff !important;
    outline: none !important;
  }


#task-form {
    justify-content: center;
    height: 100%;
    z-index: 1000;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.input-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-with-icon input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-with-icon .material-icons {
    font-size: 20px;
    color: #888;
}


.input-group-parallel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-group-parallel .input-with-icon {
    flex: 1;
}


.button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 20px;
}

button#submit-task, button#cancel-task {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button#submit-task {
    background-color: #007bff;
    color: white;
}

button#cancel-task {
    background-color: #dc3545;
    color: white;
}

button:hover {
    opacity: 0.8;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

#task-form.show {
    display: flex;
}

.task-item {
    transition: transform 0.3s ease-in-out;
  }


  .task-item.dragging {
    opacity: 0.5;
    border: 2px dashed #aaa;
  }